<!DOCTYPE HTML>
<html>

<head>
    <link rel="icon" type="image/png" href="/static/book.png">
    <link rel="stylesheet" href="/static/webix/webix.css" type="text/css">
    <link rel="stylesheet" href="/static/webix/conditional-dark.css" type="text/css">
    <script src="/static/webix/webix.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/static/webix/md/materialdesignicons.min.css" type="text/css">
    <title>Читалка FB2 в голос</title>
</head>

<body>
    <script src="/static/app.js" type="text/javascript"></script>
</body>

</html>